@font-face {
    font-family: spongefont;
    src: url(SpongeboyRegular.otf);
}
html {
    min-height: 100%;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(17,89,167,1) 50%, rgba(77,192,206,1) 100%);
}
h1 {
    font-family: spongefont;
    text-align: center;
    font-size: 3em;
    color: aliceblue;
}
p {
    font-size: 1.25rem;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(0, 49, 101);
}
h1#homepage-title {
    padding: 30px;
}
.container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.card {
    background-color: #fff;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.10);
    padding-bottom: 20px;
}

.recipe-img-card {
    object-fit: cover;
    max-width: 100%;
    aspect-ratio: 16/9;
}

.recipe-title-card {
    font-family: spongeboy;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: -5px;
}

.recipe-title-link {
    text-decoration: none;
    color: #4DC0CE;
}
.author-name {
    color: rgb(122, 122, 122);
    text-align: center;
}
.description {
    padding: 0 1.5rem;
}
.full-recipe-link {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(17,89,167);
    border-radius: 30px;
    color: #fff;
    font-family: 'Gill Sans', sans-serif;
}

.recipe-btn {
    text-align: center;
}


.full-recipe-link:hover {
    background-color: #4DC0CE;
}

.ingredient-number {
    font-size: 1.5em;
    
}

.recipe-img {
   width: 50vw;
   display: block;
   margin: 5em auto;
   border-radius: 30px;
   margin-bottom: -100px;
   max-width: 700px;
}

.recipe-card-container {
    background-color: aliceblue;
    padding: 0px;
    width: 75vw;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 30px;
    padding-bottom: 40px;
    margin-bottom: 5em;
}
.recipe-title {
    font-family: Spongeboy;
    text-align: center;
    font-size: 2.5em;
    padding-top: 90px;
    margin-bottom: -5px;
    color: rgba(77,192,206)
}
.recipe-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 0 50px;
}
.instructions {
    width: 45%;
    background-color:rgba(77,192,206,.15);
    height: 100%;
    margin-top: 25px;
    padding-right: 20px;
    border-radius: 30px;
}
.instruction-list {
    font-family: Gill Sans, sans serif;
    margin-bottom: 1.25em;
    font-size: 1.25em;
}

